<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-color--primary">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">CRM</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" routerLink="/login">Login</a>
        <a class="mdl-navigation__link" routerLink="/signup">Signup</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">CRM</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" routerLink="/login">Login</a>
      <a class="mdl-navigation__link" routerLink="/signup">Signup</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="mdl-grid">
      <!--Landing page-->
      <section id="main" class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp" style="padding-bottom: 30px;">
        <div>
          <h1 style="text-align: center;">CRM</h1>
          <h4 style="text-align: center;">Best App ever!!</h4>
          <br/>
          <div style="text-align: center!important">
            <a class="btn" routerLink="/">WATCH VIDEO</a>
            <a class="btn" routerLink="/signup">SIGN IN</a>
          </div>
        </div>
      </section>
      <section class="mdl-cell mdl-cell--2-col"></section>
      <!--Product Information Section-->
      <section id="info" class="mdl-cell mdl-cell--8-col " style="text-align: center!important">
        <h1 style="text-align: center;">Let's talk product</h1>
        <h5 style="text-align: center; color: #9A9A9A">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful
          information. Remember that by this time, the user is curious, otherwise he wouldn't scroll to get here. Add a button
          if you want the user to see more.
        </h5>
      </section>
      <!--Product Information Section-->
      <section id="info1" class="mdl-cell mdl-cell--12-col">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--3-col mdl-card mdl-shadow--2dp">
            <div class="description">
              <h4 class="info-title" style="text-align: center">Beautiful Gallery</h4>
              <p style="text-align: center; color: #9A9A9A;font-size: 15px;">Spend your time generating new ideas. You don't have to think of implementing.</p>
              <a routerLink="/" class="btn btn-link btn-danger">See more</a>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--3-col mdl-card mdl-shadow--2dp">
            <div class="description">
              <h4 class="info-title" style="text-align: center">New Ideas</h4>
              <p style="text-align: center; color: #9A9A9A;font-size: 15px">Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
              <a routerLink="/" class="btn btn-link btn-danger">See more</a>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--3-col mdl-card mdl-shadow--2dp">
            <div class="description">
              <h4 class="info-title" style="text-align: center">Statistics</h4>
              <p style="text-align: center; color: #9A9A9A;font-size: 15px">Choose from a veriety of many colors resembling sugar paper pastels.</p>
              <a routerLink="/" class="btn btn-link btn-danger">See more</a>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--3-col mdl-card mdl-shadow--2dp">
            <div class="description">
              <h4 class="info-title" style="text-align: center">Delightful design</h4>
              <p style="text-align: center; color: #9A9A9A;font-size: 15px">Find unique elightful designs related items directly from our sellers.</p>
              <a routerLink="/" class="btn btn-link btn-danger" style="text-align: center!important">See more</a>
            </div>
          </div>
        </div>
      </section>
      <!--Contact Section-->
      <section id="contact" class="mdl-cell mdl-cell--12-col ">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--4-col"></div>
          <div class="mdl-cell mdl-cell--6-col">
            <h1 class="text-align:center; color:#9A9A9A">Keep in touch?</h1>
            <div class="mdl-card mdl-shadow--2dp">
              <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                <div class="mdl-card__supporting-text">
                  <form action="#">
                    <div id="name">
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="first">
                        <label class="mdl-textfield__label" for="sample3">First Name</label>
                      </div>
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="last">
                        <label class="mdl-textfield__label" for="sample3">Last Name</label>
                      </div>
                    </div>

                    <div id="contact">
                      <div id="phone">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                          <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="mobile">
                          <label class="mdl-textfield__label" for="sample2">Mobile Phone</label>
                          <span class="mdl-textfield__error">Mobile must be a number!</span>
                        </div>
                      </div>

                      <div id="email">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                          <input class="mdl-textfield__input" type="email">
                          <label class="mdl-textfield__label" for="sample2">E-mail</label>
                          <span class="mdl-textfield__error">Enter a valid email!</span>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="mdl-mini-footer">
      <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">Title</div>
        <ul class="mdl-mini-footer__link-list">
          <li>
            <a href="#">Help</a>
          </li>
          <li>
            <a href="#">Privacy & Terms</a>
          </li>
        </ul>
      </div>
    </footer>
  </main>
</div>