<!DOCTYPE html>
<html>
<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web App</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    @Styles.Render("~/Content/Styles")


</head>
<body>
    <!--Main Component Web App-->
    <app-root></app-root>

    @Scripts.Render("~/Script/Bundles")
</body>
</html>