.form-container {
    background:white;
    padding:3.5em;
    width:400px;
    position:fixed;
    left:50%;
    margin-left:-150px;
}

.material-icons.md-48 { font-size: 48px; }

.google {
    border: 1px solid #95989A;
    background-size: 25px;
}

.btnpadding{
    margin: 15px;
    width: 250px;
}